.piece {
    display: block;
    height: 30px;
    width: 30px;
    border-radius: 50px;
}

.piece.a {
    background-color: rgb(252, 95, 95);
}

.piece.A {
    background-color: rgb(252, 95, 95);
    border: 2px solid red;
}

.piece.b {
    background-color: rgb(71, 71, 71);
}

.piece.B {
    background-color: rgb(71, 71, 71);
    border: 2px solid back;
}